body {
	background: #f9f9f9;
}

.super-wrapper {
	min-height: 100%;
	padding-bottom: 35px;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	padding: 0 15px;
}

/* common */

.header {
	padding: 15px;
	background: url('../img/bg-header.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #fff;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.demo-header {
	padding: 5px 15px;
	margin: -15px -15px 15px;
	background: #3d3d3d;
	font-size: 12px;
	text-align: center;
}

.header-title {
	line-height: 1;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.header a {
	text-decoration: none;
	color: inherit;
}

.header-title span {
	font-size: 24px;
	font-weight: 500;
	margin-right: 5px;
}

.header-nav {
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	line-height: 1;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.header-nav > a {
	margin-left: 15px;
}

.header-user {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.header-dropdown {
	position: relative;
	display: inline-block;
}

.header-dropdown > a {text-decoration: underline;}
.header-dropdown:hover > a {text-decoration: none;}
.header-dropdown:hover .header-dropdown-info {display: block;}

.header-dropdown-info {
	position: absolute;
	display: block;
	width: 230px;
	top: 100%;
	right: -10px;
	padding-top: 12px;
	text-align: left;
	display: none;
}

.header-dropdown-info:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 20px;
	border: 6px solid transparent;
	border-bottom: 6px solid #f9f9f9;
}

.header-dropdown-info-in {
	display: block;
	padding: 10px 15px;
	background: #f9f9f9;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	color: #333;
	text-shadow: none;
}

.header-dropdown-info-in .btn {
	font-size: 10px;
	height: 18px;
	line-height: 18px;
	width: 18px;
}

.header-dropdown-edit {
	padding-left: 0;
}

/* footer */

.footer {
	margin-top: -35px;
	padding: 10px 15px;
	height: 35px;
	line-height: 15px;
	background: #3d3d3d;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.cms-info {
	font-size: 11px;
}

.cms-info span {
	font-size: 14px;
	font-weight: 500;
}

.narisuem-info {
	font-size: 12px;
}

.narisuem-info a {
	color: #fff;
}

/* content */

.content {
	padding: 15px;
}

.left-side {
	float: left;
	width: 265px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.right-side {
	float: right;
	width: 100%;
	padding-left: 280px;
	margin-left: -280px;
}

.right-side-in {
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.right-side-top {
	
}

.page-title {
	color: #6f6f6f;
	padding: 0 0 15px;
	margin: 0 20px;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.page-content {
	padding: 30px 20px;
}

/* left-menu */

.left-menu {
	position: relative;
	z-index: 2;
}

.left-menu > li {
	
}

.left-menu a {
	display: block;
	transition: background 0.3s ease 0s;
	text-decoration: none;
}

.left-menu > li > a {
	padding: 10px 15px;
	background: #54b7b9;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	color: #fff;
	font-size: 16px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.left-menu > li:first-child > a {border-top: 0;}

.left-menu > li > a:hover {
	background: #3facae;
}

.left-menu .fa {
	margin-right: 5px;
	font-size: 18px;
}

.left-menu .submenu .fa {
	font-size: 16px;
}

.left-menu .submenu > li > a {
	padding: 10px 15px 10px 25px;
	color: #666;
	font-weight: 300;
}

.left-menu .submenu > li > a:hover {
	background: #f5f5f5;
}

/* breadcrumbs */

.breadcrumbs {
	font-size: 12px;
	line-height: 1;
	padding: 7px 20px;
	background: #f9f9f9;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 0 10px;
}

.breadcrumbs .fa {
	color: #50abad;
	margin: 0 3px;
}

.breadcrumbs-sep {
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 4px;
	color: #50abad;
	margin: 0 3px;
	background: #50abad;
}

/* login */

.login {
	min-height: 100%;
	background: url('../img/bg-paper.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login-form {
	width: 350px;
	padding: 20px 30px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -175px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/*  */

.img-1 {
	display: block;
	max-width: 100%;
}

/* news-preview */

.page-preview {
	margin-bottom: 30px;
}

.page-preview:after {
	content: "";
	clear: both;
	display: block;
}

.page-preview .img {
	float: left;
	width: 200px;
	margin-right: -200px;
	position: relative;
	z-index: 2;
}

.page-preview .img img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}

.page-preview .descr {
	float: right;
	width: 100%;
	padding-left: 220px;
}

/*  */

.img-show img {
	max-width: 100%;
	max-height: 50px;
}

/* pagination */

.pagination {
    font-size: 14px;
    padding-bottom: 60px;
    text-align: center;
}
.pagination li {
    display: inline;
}
.pagination a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    display: inline-block;
    font-weight: 400;
    height: 31px;
    line-height: 31px;
    text-decoration: none;
    transition: none 0s ease 0s ;
    width: 33px;
}
.pagination a:hover {
    background: #ececec none repeat scroll 0 0;
    border-color: #d1cfcf;
}
.pagination .selected a, .pagination a:active {
    border: 1px solid #cbcbcb;
    color: #7f7f7f;
    
}

.pagination .hidden, .pagination .first, .pagination .last {
    display: none;
}

/* ajax-loading */

div.loading {
    background-color: #eee;
    background-image: url('../img/ajax-loader.gif');
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
}
div.loading * {
    opacity: 0.8;
}

/* product gallery */

.photo-img {
    margin-bottom: 30px;
}
.photo-img-in {
    background: #000 none repeat scroll 0 0;
    position: relative;
}
.photo-img .delete-photo {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.3s ease 0s;
    z-index: 2;
}
.photo-img:hover .delete-photo {
    opacity: 1;
}
.photo-img-link img {
    display: block;
    width: 100%;
}
.photo-img-link {
    display: block;
}
.photo-img-link img {
    transition: opacity 0.3s ease 0s;
}
.photo-img-link:hover img {
    opacity: 0.8;
}

/* uploadify */
.upload-btn-wrap {
    position: relative;
}

.uploadify object {
    cursor: pointer;
    width: 100% !important;
}

